
APP_NAME="taskboard-api"
APP_ENV=local
APP_DEBUG=true
APP_TIMEZONE=Africa/Cairo

# Format: driver:host=HOST;port=PORT;dbname=DBNAME;charset=utf8mb4
DB_DSN="mysql:host=127.0.0.1;port=3306;dbname=taskboard;charset=utf8mb4"
DB_USER=root
DB_PASS=


# Allow all origins (*) or specify a frontend origin like http://127.0.0.1:5173
CORS_ALLOW_ORIGIN="*"
